<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indica que el controlador de URL de IIS debe procesar todas las solicitudes -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Reglas de reescritura para redirigir todas las solicitudes al servidor Node.js -->
    <rewrite>
      <rules>
        <!-- No reescribir las solicitudes a archivos/carpetas estáticas -->
        <rule name="StaticContent">
          <action type="None" />
          <conditions>
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" />
          </conditions>
        </rule>

        <!-- No reescribir peticiones a la API -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{{REQUEST_URI}}" pattern="^/api/" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Todas las demás solicitudes van a index.html para manejo de enrutamiento del lado del cliente -->
        <rule name="ReactRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="true" />
            <add input="{{REQUEST_FILENAME}}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuración específica de Node.js -->
    <iisnode 
      watchedFiles="*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false" 
      devErrorsEnabled="true" />

    <!-- Mostrar el sitio cuando el directorio principal esté vacío -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
    
    <!-- Evita que IIS bloquee solicitudes a archivos "ocultos" -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
